/* Estilo de RESET */
* {
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
  }


/*globales*/

div {
    margin: 20px;
}

html{
    font-family: helvetica;
}

/* Layout */

header, main, footer {
    border: 5px solid blue;
}
header{
    height: 20vh;
}
header > nav, header > div{
border: 5px solid red;

}
p{
    color: aqua;
}
